<div align="left">{{loadingWeatherMessage()}}</div>
	<table class="tabsTable" ng-if='showWeather'>
		<tr>
			<th class="tabsTableData">Day</th>
			<th class="tabsTableData">Weather</th>
			<th class="tabsTableData">Degrees</th>
			<!--<th style="width:30%;">Downfall</th>-->
		</tr>
		<tr ng-repeat="day in days track by $index">
			<td class="tabsTableData">{{day}}</td>
			<td class="tabsTableData">
				<img  style="text-align:left;width:35px;height:35px" ng-show="iconLoaded" ng-src="{{getIconsDaily($index)}}">
			</td>
			<td class="tabsTableData">{{dailyTemps[$index]| number:0}}&deg;C</td>
			<!--<td>0mm</td>-->
		</tr>
	</table>