	<table ng-controller="TodayTimeCtrl">
		<tr>
			<th style="width:30%;">Day</th>
			<th style="width:50%;">Weather</th>
			<th style="width:30%;">Degrees</th>
			<!--<th style="width:30%;">Downfall</th>-->
		</tr>
		<tr ng-repeat="day in days track by $index">
			<td>{{day}}</td>
			<td>
				<img  style="text-align:left;width:70px;height:70px" ng-show="iconLoaded" ng-src="{{getIconsDaily($index)}}">
			</td>
			<td>{{dailyTemps[$index]| number:0}}&deg;C</td>
			<!--<td>0mm</td>-->
		</tr>
	</table>