<div class="header container-fluid">
  <div class="col-md-6">
    <h1>Phisanca</h1>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" placeholder="username" ng-model="username">
  </div>
  <div class="col-md-2">
    <input type="password" class="form-control" placeholder="password" ng-model="password">
  </div>
  <button class="btn btn-default" type="button" ng-click="login(username, password)">Log in</button>
  <div class="col-md-1">
    <h4>Register</h4>
  </div>
  <div class="col-md-1">
    <h4>History</h4>
  </div>
</div>
