<div class="header container-fluid" ng-controller="LoginCtrl" id="popupContainer">
  <div class="col-md-11">
    <img id="logo" src="../images/weatherduck-logo.png">
    <!-- <h1>Weather Duck</h1> -->
    <div class="col-md-11 login" ng-hide="user" ng-cloak>
      <div class="logininput">
        <input id="username" type="text" class="form-control" placeholder="{{usernamePlaceholder}}" ng-model="username">
      </div>
      <div class="logininput">
        <input id="password" type="password" class="form-control" placeholder="{{pwdPlaceholder}}" ng-model="pwd">
      </div>
      <button class="btn btn-default loginbutton" type="button" ng-click="login(username, pwd)">Log in</button>
      <div class=" col-md-4 loginerror">
        {{error}}
      </div>
    </div>
    <div class="col-md-7 login" ng-show="user" ng-cloak>
      <div class="welcome">
        <h5>Welcome, {{user.email}}</h5>
      </div>
      <button class="btn btn-default loginbutton" type="button" ng-click="logout()">Log out</button>
    </div>
  </div>
  <div class="col-md-1 headerbutton" ng-click="registerButton($event)">
    <h4>{{checkUser()}}</h4>
  </div>
</div>
