<div class="header container-fluid" ng-controller="LoginCtrl" id="popupContainer">
  <div class="col-md-5">
    <h1>Weather Duck</h1>
  </div>
  <div class="col-md-6 login" ng-hide="user" ng-cloak>
    <div class="logininput">
      <input id="username" ng-change="usernameChanged()" type="text" ng-class='{redplaceholder : noUsername, greyplaceholder: !noUsername}' class="form-control" placeholder="{{usernamePlaceholder}}" ng-model="username">
    </div>
    <div class="logininput">
      <input id="password" ng-change="pwdChanged()" type="password" ng-class='{redplaceholder : noPwd, greyplaceholder: !noPwd}' class="form-control" placeholder="{{pwdPlaceholder}}" ng-model="pwd">
    </div>
    <button class="btn btn-default loginbutton" type="button" ng-click="login(username, pwd)">Log in</button>
  </div>
  <div class="col-md-6 login" ng-show="user" ng-cloak>
    <div class="welcome">
      <h4>Welcome, {{user.email}}</h4>
    </div>
    <button class="btn btn-default loginbutton" type="button" ng-click="logout()">Log out</button>
  </div>
  <div class="col-md-1 headerbutton" ng-click="registerButton($event)">
    <h4>{{checkUser()}}</h4>
  </div>
</div>
