{{loadingWeatherMessage()}}	
	<table class="tabsTable" ng-if='showWeather'>
		<tr class="tabsTableRow">
			<th class="tabsTableData">Hour</th>
			<th class="tabsTableData">Weather</th>
			<th class="tabsTableData">Degrees</th>
			<!--<th style="width:30%;">Downfall</th>-->
		</tr>
		<tr class="tabsTableRow" ng-repeat="time in times track by $index">
			<td class="tabsTableData">{{time}}</td>
			<td class="tabsTableData">
				<img  style="text-align:left;width:35px;height:35px" ng-show="iconLoaded" ng-src="{{getIconsHourly($index)}}">
			</td>
			<td class="tabsTableData">{{temps[0][$index] | number:0}}&deg;C</td>
			<!--<td>8mm</td>-->
		</tr>
	</table>