<div id="locationSelector" class="flex_column">
	<form ng-submit="search(searchQuery)" data-drop="true" data-jqyoui-options="{tolerance: 'pointer'}" jqyoui-droppable="{onDrop: 'dropOnSearch'}">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Location..." ng-model="searchQuery">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></button>
			</span>
	    </div>
    </form>
    <div class="scrollable">
    	<div ng-show="isLoggedIn()" data-drop="true" data-jqyoui-options="{tolerance: 'pointer'}" jqyoui-droppable="{onDrop: 'dropOnFavourite'}">
			<h4>Favourites</h4>
			<table class="table table-hover locationTable favouritesTable">
				<tr ng-repeat="location in favouriteLocations" ng-click="search(location)" data-drag="true" data-jqyoui-options="{revert: 'invalid', scroll: false, helper: 'clone'}" jqyoui-draggable="{animate:true}">
					<td>
						<div ng-click="toggleFavourite(location)">
							<ng-include src="'partials/svg/heart.html'"></ng-include>
						</div>
					</td>
					<td class="locationTableLocation">{{location}}</td>
				</tr>
				<p ng-hide="favouriteLocations.length">No favourites added</p>
			</table>
		</div>
		<h4>Popular</h4>
		<table class="table table-hover locationTable">
			<tr ng-repeat="location in popularLocations" ng-click="search(location)" data-drag="true" data-jqyoui-options="{revert: 'invalid', scroll: false, helper: 'clone'}" jqyoui-draggable="{animate:true}">
				<td ng-show="isLoggedIn()">
					<div ng-click="toggleFavourite(location)">
						<ng-include src="'partials/svg/heart.html'"></ng-include>
					</div>
				</td>
				<td class="locationTableLocation">{{location}}</td>
			</tr>
			<p ng-hide="popularLocations.length">No popular locations to show</p>
		</table>
		<h4>Recent searches</h4>

		<table class="table table-hover locationTable">
			<tr ng-repeat="location in recentLocations" ng-click="search(location)" data-drag="true" data-jqyoui-options="{revert: 'invalid', scroll: false, helper: 'clone'}" jqyoui-draggable="{animate:true}">
				<td ng-show="isLoggedIn()">
					<div ng-click="toggleFavourite(location)">
						<ng-include src="'partials/svg/heart.html'"></ng-include>
					</div>
				</td>
				<td class="locationTableLocation">{{location}}</td>
			</tr>
			<p ng-hide="recentLocations.length">No recent searches</p>
		</table>
	</div>
	
</div>