<div id="locationSelector">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Location...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button">Search!</button>
		</span>
    </div>
	<h4>Favourites</h4>
	<table class="table table-hover locationTable favouritesTable">
		<tr ng-repeat="location in favouriteLocations">
			<td>
				<div ng-click="favourite($event)">
					<ng-include src="'partials/svg/heart.html'"></ng-include>
				</div>
			</td>
			<td class="locationTableLocation">{{location}}</td>
		</tr>
	</table>
	<h4>Popular</h4>
	<table class="table table-hover locationTable">
		<tr ng-repeat="location in popularLocations">
			<td>
				<div ng-click="unfavourite($event)">
					<ng-include src="'partials/svg/heart.html'"></ng-include>
				</div>
			</td>
			<td class="locationTableLocation">{{location}}</td>
		</tr>
	</table>
	<h4>Recent searches</h4>

	<table class="table table-hover locationTable">
		<tr ng-repeat="location in recentLocations">
			<td>
				<div ng-click="unfavourite($event)">
					<ng-include src="'partials/svg/heart.html'"></ng-include>
				</div>
			</td>
			<td class="locationTableLocation">{{location}}</td>
		</tr>
	</table>
	
</div>