<md-dialog flex="20">
  <form ng-cloak ng-submit="register(email, pass)">
    <md-toolbar>
      <div class="md-toolbar-tools"  style="background-color:black">
        <h2>Register an account</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Register</h2>
        <div style="margin-bottom:10%; margin-top:5%">
          Email:
          <input id="e-mail" ng-change="emailChanged()" type="text" ng-class='{redplaceholder : noEmail, greyplaceholder: !noEmail}' class="form-control" placeholder="{{emailPlaceholder}}" ng-model="email">
        </div>
        <div>
          Password:
          <input id="password" ng-change="passChanged()" type="password" ng-class='{redplaceholder : noPass, greyplaceholder: !noPass}' class="form-control" placeholder="{{passPlaceholder}}" ng-model="pass">
        </div>
        <div ng-class="{invisible:!error, visible:error}" class="errortext">
          {{status}}
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit">
       Register
      </md-button>
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
