<md-dialog flex="20">
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:black">
        <h2>Change account settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <img id="logo" src="../images/close-btn.png" style="width:100%">
          <!-- <md-icon md-svg-src="images/close-btn.png" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form ng-cloak ng-submit="updatePwd(oldPwd, newPwd, newPwd2)">
          <h3>Change Password</h3>
          <div class="settingsInput">
            Old password:
            <input id="oldPwd" type="password" class="form-control" placeholder="password" ng-model="oldPwd">
          </div>
          <div class="settingsInput">
            New password:
            <input id="newPwd" type="password" class="form-control" placeholder="password" ng-model="newPwd">
          </div>
          <div class="settingsInput">
            Repeat new password:
            <input id="newPwd2" type="password" class="form-control" placeholder="password" ng-model="newPwd2">
          </div>
          <div ng-class="{invisible:pwdError==='no', errortext:pwdError==='error', successtext:pwdError==='success'}">
            {{pwdStatus}}
          </div>
          <button class="btn btn-default" style="margin-top:2%" type="submit">Update Password</button>
        </form>
        <hr>

        <form ng-cloak ng-submit="updateUsername(newUsername)">
          <h3>Change Displayname</h3>
          <div class="settingsInput">
            New displayname:
            <input id="newUsername" type="text" class="form-control" placeholder="displayname" ng-model="newUsername">
          </div>
          <div ng-class="{invisible:usernameError==='no', errortext:usernameError==='error', successtext:usernameError==='success'}">
            {{usernameStatus}}
          </div>
          <button class="btn btn-default" style="margin-top:2%" type="submit">Update Displayname</button>
        </form>
        <hr>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
</md-dialog>
