<div id="today" data-drop="true" data-jqyoui-options jqyoui-droppable="{onDrop: 'dropLocation'}">
  <table class="locationTitleTable">
		<tr>
			<td ng-show="isLoggedIn()">
          <ng-include src="'partials/svg/heart.html'" ng-click="toggleFavourite(getLocationName())" ng-class="isFavourite()"></ng-include>
			</td>
			<td>
        <h2 id="locationTitle" data-drag="true" data-jqyoui-options="{revert: 'invalid', scroll: false, helper: 'clone', cursorAt: { left: 50, top: 50 }}" jqyoui-draggable="{animate:true}">{{getLocationName()}}</h2>
      </td>
		</tr>
  </table>

  <table class="currentWeatherTable">
    <tr>
      <td class="currentWeatherTableElement">
        {{temps[0][slider.value] | number:0}}&deg;C
      </td>
      <td>
        <img style="width:12vw;height:12vh" ng-show="iconLoaded" ng-src="{{getCurrentIcon()}}">
      </td>
      <td class="currentWeatherTableElement">
        {{times[slider.value]}}
      </td>
    </tr>
    <tr>
      <td>
        <div class="feelsLike">
          <button class="btn btn-default feelsBtn" ng-click="increaseFeels(-1)"><span class="glyphicon glyphicon-minus"></button>
          Feels like {{feels[slider.value]+feelsMod | number:0}}&deg;C
          <button class="btn btn-default feelsBtn" ng-click="increaseFeels(1)"><span class="glyphicon glyphicon-plus"></button>
        </div>
      </td>
      <td class="currentDateTableElement">
        {{weekdays[slider.value]}} {{dates[slider.value]}}
      </td>
      <td></td>
    </tr>
  </table>

  <canvas id="line" height="130" class="chart chart-bar" chart-colors="colors" chart-data="temps" chart-labels="labels" chart-dataset-override="datasetOverride" chart-options="options" chart-click="onClick"></canvas>

  <div>
    <rzslider id="currentTimeSlider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
  </div>

</div>
