<div id="today">
  <table class="table locationTitleTable">
		<tr>
			<td>
        <button type="button" class="btn btn-default btn-lg">
          <ng-include src="'partials/svg/heart.html'"></ng-include>
        </button>
			</td>
			<td class="locationTitleLocation">
        <h1>Stockholm, Sweden</h1>
      </td>
		</tr>
  </table>

  <div id="currentWeather" class="currentTemperature col-md-offset-2">
    3&deg;C &#9728;
  </div>

  <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>

  <div id="currentTime">
    <rzslider
         rz-slider-model="slider.value"
         rz-slider-options="slider.options"></rzslider>
  </div>

</div>
