<div id="today">
  <table class="table locationTitleTable">
		<tr>
			<td>
          <ng-include src="'partials/svg/heart.html'" ng-click="toggleFavourite(getLocationName())" ng-class="isFavourite()"></ng-include>
			</td>
			<td class="locationTitleLocation">
        <h1>{{getLocationName()}}</h1>
      </td>
		</tr>
  </table>

  <!-- <div class="currentTime col-md-offset-2">
    {{formatHour(slider.value)}}
  </div> -->

  <div id="currentWeather" class="currentWeather">
    <div class="currentWeatherElement">
      {{temps[0][getHourIndex(slider.value)]}}&deg;C
    </div>
    <div class="currentWeatherElement" style="text-align:center">
      &#9728;
    </div>
    <div class="currentWeatherElement" style="text-align:right">
      {{labels[slider.value]}}
    </div>
  </div>

  <div class="col-md-offset-2 feelsLike">
    Feels like 15&deg;C
  </div>

  <canvas id="line" class="chart chart-bar" chart-data="temps" chart-labels="labels" chart-dataset-override="datasetOverride" chart-options="options" chart-click="onClick"></canvas>

  <div id="currentTime">
    <rzslider
         rz-slider-model="slider.value"
         rz-slider-options="slider.options"></rzslider>
  </div>

</div>
