.locationTable{
	/*background: green;*/
}

.locationTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTableLocation{
	width:100%;
}

.locationTitleTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTitleLocation{
	width:100%;
}

.currentTemperature{
	font-size: 600%
}

.favouritesTable .heart{
	fill: pink;
}
.heart{
	fill: grey;
}

.header {
  background: rgba(211, 211, 211, 0.8);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-bottom: 0.5%;
}

.redtext::-webkit-input-placeholder {
	color: red;
}

.greytext::-webkit-input-placeholder {
	color: #cccccc;
}
