.locationTable{
	/*background: green;*/
}

.locationTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTableLocation{
	width:100%;
	word-break: break-word;
}

.locationTitleTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTitleLocation{
	width:100%;
}

.currentWeather{
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-size: 500%
}

.currentWeatherElement{
	flex-grow: 100;
}

.feelsLike{
	text-align: center;
	font-size: 150%;
	margin: 5%;
}

.favouritesTable .heart{
	fill: pink;
}
.heart{
	fill: grey;
}

.header {
  /*background: rgba(211, 211, 211, 0.8);*/
	background: white;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 1%;
	margin-bottom: 1%;
	border-bottom: medium solid black;
}

.welcome {
	flex-grow: 1;
}

.login {
  display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 0.5%;
}

.logininput {
	flex-grow: 1;
}

.loginbutton {
	flex-basis: 0;
	flex-grow: 0;
	margin-right: 3%;
	height:5%;
}

.headerbutton {
	background-color: black;
	color:white;
  text-decoration: none;
  }
	
.headerbutton:hover {
	background-color: white;
  color:black;
  text-decoration:none;
  cursor:pointer;
}

.historybutton {
	text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.errortext {
	color:red;
	text-align: center;
	margin-top: 3%;
}

.successtext {
	color:green;
	text-align: center;
	margin-top: 3%;
}

.redplaceholder::-webkit-input-placeholder {
	color: red;
}

.greyplaceholder::-webkit-input-placeholder {
	color: #cccccc;
}

.green{
	background-color: green;
}

.angular-google-map-container {
	height: 400px;
}
.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible
}

.settingsInput {
	margin-top: 4%;
}

.listButtons{
	width: 100%;
}

.tabsTable{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.tabsTableData{
	border: 1px solid transparent;
	text-align: center;
}

.tabs{
	margin-top:5%;
	margin-left:5%;
}

.rzslider .rz-pointer {
  background-color: black !important;
}

.rzslider .rz-bar {
  background-color: lightgrey !important;
}

#logo {
	width:50%;
}
