.locationTable{
	/*background: green;*/
}

.locationTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTableLocation{
	width:100%;
	word-break: break-word;
}

.locationTitleTable>tbody>tr>td{
	vertical-align: middle;
}

.locationTitleLocation{
	width:100%;
}

.currentTemperature{
	font-size: 600%
}

.favouritesTable .heart{
	fill: pink;
}
.heart{
	fill: grey;
}

.header {
  background: rgba(211, 211, 211, 0.8);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.welcome {
	flex-grow: 1;
}

.login {
  display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 0.5%;
}

.logininput {
	flex-grow: 1;
}

.loginbutton {
	flex-basis: 0;
	flex-grow: 0;
	margin-right: 3%;
	height:5%;
}

.headerbutton {
     text-decoration: none;
		 color:black;
  }
.headerbutton:hover
  {
		background-color: green;
    color:white;
    text-decoration:none;
    cursor:pointer;
   }

.historybutton {
	text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.errortext {
	color:red;
	text-align: center;
	margin-top: 3%;
}

.redplaceholder::-webkit-input-placeholder {
	color: red;
}

.greyplaceholder::-webkit-input-placeholder {
	color: #cccccc;
}

.green{
	background-color: green;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible
}
